In [1]:
import pandas as pd
# read the csv named tested

test = pd.read_csv('IRIS.csv')
test.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [2]:
test['species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [3]:
map_labels = {
    "Iris-setosa": 0,
    "Iris-versicolor": 1,
    "Iris-virginica": 2    
}

In [4]:
# replace the species with the mapped labels
test['species'] = test['species'].map(map_labels)

In [6]:
# shuffle the data
test = test.sample(frac=1).reset_index(drop=True)
test.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           6.7          3.3           5.7          2.1        2
1           6.7          3.0           5.0          1.7        1
2           5.1          3.8           1.5          0.3        0
3           5.6          2.5           3.9          1.1        1
4           5.2          3.5           1.5          0.2        0

In [7]:
# normalize all the columns except the species column
test.iloc[:, :-1] = test.iloc[:, :-1].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [8]:
test.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0      0.666667     0.541667      0.796610     0.833333        2
1      0.666667     0.416667      0.677966     0.666667        1
2      0.222222     0.750000      0.084746     0.083333        0
3      0.361111     0.208333      0.491525     0.416667        1
4      0.250000     0.625000      0.084746     0.041667        0

In [9]:
X = test.iloc[:, :-1].values
y = test.iloc[:, -1].values

# split the data into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# import random forest classifier
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

# fit the model
rfc.fit(X_train, y_train)

# predict the model
y_pred = rfc.predict(X_test)

# import the accuracy score
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9736842105263158